*.py[cod]
__pycache__/
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.bak
*.swp
*.log
*.env
.venv/
venv/
ENV/
env/
Pipfile
Pipfile.lock
poetry.lock
.mypy_cache/
.pytest_cache/
.pyre/
.coverage
coverage.xml
*.cover
.hypothesis/
.pyre/
.idea/
.vscode/
*.DS_Store
*.ipynb_checkpoints
*.pyo
*.orig
.tox/
.nox/
.cache/
__pypackages__/
!.gitignore
